<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [6]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [12]:
df.shape

(11552, 85)

In [13]:
# your code goes here
duplicates = df.duplicated().sum()
print(duplicates)

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [14]:
# your code goes here
df.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [16]:
# your code goes here
df.shape

(11398, 85)

## Finding Missing values

Find the missing values for all columns.

In [18]:
# your code goes here
for col in df.columns:
    print(f"total na values for {col} is: {df[col].isna().sum()}")

total na values for Respondent is: 0
total na values for MainBranch is: 0
total na values for Hobbyist is: 0
total na values for OpenSourcer is: 0
total na values for OpenSource is: 81
total na values for Employment is: 0
total na values for Country is: 0
total na values for Student is: 51
total na values for EdLevel is: 112
total na values for UndergradMajor is: 737
total na values for EduOther is: 164
total na values for OrgSize is: 96
total na values for DevType is: 65
total na values for YearsCode is: 9
total na values for Age1stCode is: 13
total na values for YearsCodePro is: 16
total na values for CareerSat is: 0
total na values for JobSat is: 1
total na values for MgrIdiot is: 493
total na values for MgrMoney is: 497
total na values for MgrWant is: 493
total na values for JobSeek is: 0
total na values for LastHireDate is: 0
total na values for LastInt is: 413
total na values for FizzBuzz is: 37
total na values for JobFactors is: 3
total na values for ResumeUpdate is: 39
total na values for CurrencySymbol is: 0
total na values for CurrencyDesc is: 0
total na values for CompTotal is: 809
total na values for CompFreq is: 206
total na values for ConvertedComp is: 816
total na values for WorkWeekHrs is: 122
total na values for WorkPlan is: 121
total na values for WorkChallenge is: 164
total na values for WorkRemote is: 8
total na values for WorkLoc is: 32
total na values for ImpSyn is: 5
total na values for CodeRev is: 1
total na values for CodeRevHrs is: 2426
total na values for UnitTests is: 29
total na values for PurchaseHow is: 196
total na values for PurchaseWhat is: 38
total na values for LanguageWorkedWith is: 11
total na values for LanguageDesireNextYear is: 134
total na values for DatabaseWorkedWith is: 453
total na values for DatabaseDesireNextYear is: 1042
total na values for PlatformWorkedWith is: 411
total na values for PlatformDesireNextYear is: 544
total na values for WebFrameWorkedWith is: 1393
total na values for WebFrameDesireNextYear is: 1617
total na values for MiscTechWorkedWith is: 2182
total na values for MiscTechDesireNextYear is: 1455
total na values for DevEnviron is: 29
total na values for OpSys is: 34
total na values for Containers is: 82
total na values for BlockchainOrg is: 2322
total na values for BlockchainIs is: 2610
total na values for BetterLife is: 98
total na values for ITperson is: 35
total na values for OffOn is: 38
total na values for SocialMedia is: 293
total na values for Extraversion is: 20
total na values for ScreenName is: 507
total na values for SOVisit1st is: 325
total na values for SOVisitFreq is: 5
total na values for SOVisitTo is: 1
total na values for SOFindAnswer is: 3
total na values for SOTimeSaved is: 50
total na values for SOHowMuchTime is: 1917
total na values for SOAccount is: 1
total na values for SOPartFreq is: 1128
total na values for SOJobs is: 6
total na values for EntTeams is: 5
total na values for SOComm is: 0
total na values for WelcomeChange is: 85
total na values for SONewContent is: 1965
total na values for Age is: 287
total na values for Gender is: 73
total na values for Trans is: 123
total na values for Sexuality is: 542
total na values for Ethnicity is: 675
total na values for Dependents is: 140
total na values for SurveyLength is: 19
total na values for SurveyEase is: 14

Find out how many rows are missing in the column 'WorkLoc'

In [19]:
# your code goes here
workloc_missing = df['WorkLoc'].isna().sum()
print(workloc_missing)

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [20]:
# your code goes here
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [21]:
#make a note of the majority value here, for future reference
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [22]:
# your code goes here
df['WorkLoc'].fillna(df['WorkLoc'].value_counts().idxmax(), inplace=True)

<ipython-input-22-98b1b8026919>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].fillna(df['WorkLoc'].value_counts().idxmax(), inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [23]:
# your code goes here
workloc_missing = df['WorkLoc'].isna().sum()
print(workloc_missing)

0

In [24]:
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [25]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [26]:
# your code goes here
import numpy as np
df['NormalizedAnnualCompensation'] = np.where(
    df['CompFreq'] == 'Yearly', df['CompTotal'],
    np.where(df['CompFreq'] == 'Monthly', df['CompTotal'] * 12,
    np.where(df['CompFreq'] == 'Weekly', df['CompTotal'] * 52, None))
)

In [27]:
df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']]

      CompFreq  CompTotal NormalizedAnnualCompensation
0       Yearly    61000.0                      61000.0
1       Yearly   138000.0                     138000.0
2       Yearly    90000.0                      90000.0
3      Monthly    29000.0                     348000.0
4       Yearly    90000.0                      90000.0
...        ...        ...                          ...
11547   Yearly   130000.0                     130000.0
11548   Yearly    74400.0                      74400.0
11549   Yearly   105000.0                     105000.0
11550   Yearly    80000.0                      80000.0
11551      NaN        NaN                         None

[11398 rows x 3 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>